html {
	background-color: #fed8b1;
	text-align: center;
        color: LightGray
	font-family: Verdana,serif;
	list-style-position: inside;
}

h1 {
  font-size: 40px;
}

h2 {

      color: Green;
      font-family: Monospace,serif;
      font-size: 30px;
}

p#tagline {
font-style : italic;
color : purple;
}

p {
  font-size: 20px;
}