html {
	background-color: #fed8b1;
	text-align: center;
	font-family: Times,serif;
	list-style-position: inside;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

p {
  font-size: 14px;
}